<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Register</title>
</head>
<body>

    <form action="login" method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="username">
        <br>
        <input type="password" name="password" placeholder="password">
        <br>
        <input type="submit">
        
    </form>
    <button><a href="register">Register</a></button>
    <button><a href="/">Home</a></button>
    
    <div>
        {% for message in messages %}
            <h3>{{ message }}</h3>
        {% endfor %}
    </div>

</body>
</html>